body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #FFF8E7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  width: 300px;
}

h1 {
  margin: 0;
  text-align: center;
  margin-bottom: 15px;
  color: #000000;
  font-size: 30px;
}

p{
  margin: 0;
  margin-bottom: 35px;
  font-size: 17px;
}

.email {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-size: 15px;
}

#email {
  width: 100%;
  padding: 10px;
  margin-bottom: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.checkbox{
  display: flex;
  align-items: center;
  gap:0px;
  font-size: 15px;
}

#checkbox{
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

#button {
  width: 100%;
  padding: 12px;
  margin-top: 25px;
  margin-bottom: 35px;
  background-color: #A8D5BA;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

#button.active {
  background-color:#3E665A ;
  cursor: pointer;
}

.already{
  font-size: 12px;
}

.return{
  position: absolute;
  top: 600px;
  left: 490px;
  font-size: 12px;
}


@media screen and (max-width:480px) {
  
  .signup-container{
    width: calc(100% - 15px);
    box-sizing: border-box;
    padding: 0 30px;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .signup-container h1{
    font-size: 25px;
  }

  .signup-container p{
    font-size: 14px;
  }

  .return{
    top: 575px;
    left: 275px;
  }
}
